.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
*.egg

venv/
.env/
env/
.venv/

.ipynb_checkpoints/
*.ipynb_checkpoints

.vscode/
*.code-workspace

*.log

runs/
events.out.tfevents.*

build/
dist/
*.tgz
*.tar.gz

*.pth
*.pt
*.ckpt

*.npy
*.npz
*.pickle

*.tmp
*.temp


data/*-ubyte

git rm -r --cached .venv